:root{
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
}

.search,
.search-result {  
    width: 500px;
}

.search{
  position: relative;
  height: var(--search-height);
  padding-left: 16px;
  background: var(--background-search);
  border-radius: var(--search-border-radius);
  display: flex;
  align-items: center;
  border: 1.5px solid transparent;
  
  .search-input{
    display: inline-block;
    flex: 1;
    padding: 12px 0;
    width: 432px;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(22, 24, 35, 0);
    color: var(--black);
    font-size: 1.6rem;
  }

  &::after{
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: var(--color-line-space);
  }

  &:focus-within {
    border-color: var(--color-focus-boder-search);
  }

  // input:not(:placeholder-shown) ~ .search-btn {
  //   color: rgba(22, 24, 35, 0.95);
  // } 
  
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-login-hint);
}

.search-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 100%;
  border: none;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color:var(--color-search-btn);
  background: rgba(22, 24, 35, 0);
  
  &:hover{
    cursor: pointer;
    background: var(--background-hover-search-btn);
  }
}

.clear, 
.loading{
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-clear-loading);
  background-color: rgba(0, 0, 0, 0);
}

.loading{
  right: calc(var(--search-button-width) + 18px);
  animation: loadingAnimationRotate 0.5s ease;
}

@keyframes loadingAnimationRotate {
  from{
    transform: translateY(-50%) rotate(0deg);
  } to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.clear{
  border: none;
  &:hover{
    cursor: pointer;
  }
}

